extends layout

include mixins/_authorPostDisplay
include mixins/_authorPagination

block content
  .container
    .row
      .col-sm-8.blog-main
        //-pre=h.dump(author)
        h4= `Page ${page} of ${pages} posts by ${author}.`    
        each post in posts
          +authorPostDisplay(post)        
        +authorPagination(page, pages, count)
      include sidebar  