extends layout

include mixins/_categoryPostDisplay
include mixins/_categoryPagination

block content
  .container
    .row
      .col-sm-8.blog-main
        //- pre=h.dump(posts)
        h4= `Page ${page} of ${pages} in ${category}.`
        each post in posts
          +categoryPostDisplay(post)        
        +categoryPagination(page, pages, count)
      include sidebar