extends layout

include mixins/_postDisplay
include mixins/_postPagination

block content
  .container
    .row
      .col-sm-8.blog-main
        //-pre=h.dump(posts)
        each post in posts
          +postDisplay(post)
        +postPagination(page, pages, count)
      include sidebar