extends layout

block main
  h2 #{title}  

block content
  .container   
    //-pre=h.dump(locals) 
    form(action='/register' method='POST')
      .form-group
        label(for='name') Name
        input#email.form-control(type='text' name='name' value=name placeholder='Name')
      .form-group
        label(for='email') Email address:
        input#email.form-control(type='email' name='email' value=email placeholder='example@example.com')
      .form-group
        label(for='password') Password:
        input.form-control(type='password' name='password' placeholder='Enter Password')
        .form-group
        label(for='password-confirm') Confirm Password
        input.form-control(type='password' name='password-confirm' placeholder='Confirm Password')
      button.btn.btn-default(type='submit') Submit