mixin comment(comment)
  //-pre=h.dump(comment)
  .review__header
    .review__author
      img.avatar(src=comment.author.gravatar)
      p= comment.author.name
    time.review__time(dattime=comment.created)= h.moment(comment.created).fromNow()
  .review__body
    p= comment.text
